* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

img, picture, svg, video {
  max-width: 100%; /* solves a lot of side-scrolling issues in small screens*/
  display: block; /* block solves a lot of problems with images*/
}

/* Styling */

.info {
  color: gray;
  font-size: 0.5rem;
}
