* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0 auto;
  background-color: #FFF7ED;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* ---- TYPO ---- */

h1, h2 { 
  margin: 0
}


/* ---- STYLING ---- */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.68rem;
}



main {
  margin-bottom: 84px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

