footer {
    color: #AAA;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.43269rem; /* 163.733% */
    padding: 1.60506rem 6.64275rem 1.57175rem 6.625rem; 
    background: #252525;
    margin-top: auto;
  }
  
  
  