@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@700&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* height: 100vh; */
    color: #293264;
}

/* ---- TYPO ---- */

h1, h2 {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin: 0
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

label {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

/* ---- STYLING ---- */
.SVG {
    position: fixed;
    z-index: -1;
}

.YellowSVG {
    top: 0;
    right: 0;
    margin: 0;
}

.BlueSVG {
    left: 0;
    bottom: 0;
}

.game--start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game--start button {
    font-size: 1rem;
    margin-top: 1.8rem;
    height: 3.25em;
    width: 12em;
}

button {
    background-color: #4D5B9E;
    border: none;
    color: #F5F7FB;
    border-radius: 1em;
    font-weight: 600;
}

.quiz {
    text-align: left;
    padding: 30px 30px;
}


.quiz--question {
    border-bottom: 1px solid #DBDEF0;
    padding: 1em 0;
}

.quiz--answers {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

/* hide radio button */
input {
    display: none;
}

label {
    color: #293264;
    border-radius: 0.7em;
    border: 1px solid #293264;
    padding: 0.6em 0.8em;
    user-select: none;
}

.quiz--check {
    margin-top: 30px;
    text-align: center;
}

.quiz--check button{
    border-radius: 0.5em;
    font-size: 1rem;
    padding: 1em 3em;   
}