/* Style */

.badge {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.15em 0.85em;
    display: inline;
}

.badge--square {
    border-radius: 0.25rem;
}

.badge--pill {
    border-radius: 0.75rem;
}

/* Colors */

.badge--gray {
    color: #1F2937;
    background-color: #F3F4F6
}

.badge--red {
    color: #991B1B;
    background-color: #FEE2E2
}

.badge--yellow {
    color: #92400E;
    background-color: #F3F4F6
}

.badge--green {
    color: #065F46;
    background-color: #D1FAE5
}

.badge--blue {
    color:  #1E40AF;
    background-color:  #DBEAFE
}

.badge--indigo {
    color:  #3730A3;
    background-color:  #E0E7FF
}

.badge--purple {
    color: #5B21B6;
    background-color: #EDE9FE
}

.badge--pink {
    color: #9D174D;
    background-color: #FCE7F3
}
