* {
    box-sizing: border-box;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

body {
    color: white;
    background-color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---- TYPO ---- */

h1, h4 {
    margin: 0;
    line-height: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h4 {
    font-size: 1.4rem;
    font-weight: 700;
}

input {
    font-size: 1rem;
    padding: .5em;
}   

/* ---- STYLING ---- */

.container {
    width: 1367px;   
    margin: 0 auto;
}

.inner-container {
    width: 85% ;
}

main {
    width: 100%;
}

header {        
    background-color: #860202;
    opacity: 1;
    background-image: radial-gradient(#121212 2px, #860202 2px);
    background-size: 1em 1em;
    position: fixed;
    height: fit-content;
    width: 100%;
    padding: 2rem 0;
}

div.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-shadow: #121212 0.3em 0.3em 0.3em ;
}

form {
    height: 2rem;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #2E2E2F;
    border-radius: 6px;
}

.search-bar {
    color: #A5A5A5;
}

#search-icon {
    width: 1.5em;
    padding-left: .5em;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    
}

#search-bar {
    width: 100%;
    border: none;
    background-color: #2E2E2F;
}

#search-bar:focus, input:focus {
    outline: none
}


#search-button {
    width: 25%;
    border: none;
    background-color: #4B4B4B;
    border-radius: 0 6px 6px 0;
    color: #FFFFFF;
}



#search-button:hover {
    cursor: pointer;
}


main {
    height: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 5rem;
}

.start-app {
    height: calc(100vh - 5rem);
    color: #A5A5A5;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.content {
    display: flex;
}

.content:first-child {
    margin-top: 2.5rem;
}

.content img {
    height: 6rem;
}

@media (max-width: 1366px) {
    .container {
        width: 100vw;
    }
}



@media (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
        font-weight: 800;
    }
    
    h4 {
        font-size: 0.9rem;
        font-weight: 700;
    } 
}

@media (max-width: 360px) {
    h1 {
        font-size: 1.1em;
        font-weight: 800;
    }
    
    h4 {
        font-size: 0.8em;
        font-weight: 700;
    } 
    
    input::placeholder {
        font-size: 0.8em;
    }
    
}

@media (max-height: 580px) {
    header {
        height: fit-content;
    }

}